:root {
    --color-background-blue: #231F42;
    --color-light-green: #37AEAB;
    --color-creamy-pink: #f56B9A;
    --color-ticket-shadow-one: #E7D1DE;
    --color-ticket-shadow-two: #CBA0BA; 
    --color-font-white: #FFFFFF;
    --font-sansita: 'SansitaOne', sans-serif;
    --font-fira-sans: 'Fira Sans', sans-serif;
    --font-barcode: 'Libre Barcode 128', sans-serif;
}

.eventsList__Page {
    position: relative;
    width: 375px;
    height: 667px;
    background-color: var(--color-background-blue);
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events__searchbar {
    background-color: #393555;
    padding: .4rem;
    border-radius: 3px;
    display: flex;
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

.events__searchbar img:hover {
    cursor: pointer;    
}

.events__searchbar input {
    background-color: #393555;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 1rem;
    color: var(--color-font-white);
}


.events__searchbar-container {

}

.events__all {
    color: var(--color-font-white);
}