:root {
    --color-background-blue: #231F42;
    --color-light-green: #37AEAB;
    --color-creamy-pink: #f56B9A;
    --color-ticket-shadow-one: #E7D1DE;
    --color-ticket-shadow-two: #CBA0BA; 
    --color-font-white: #FFFFFF;
    --font-sansita: 'SansitaOne', sans-serif;
    --font-fira-sans: 'Fira Sans', sans-serif;
    --font-barcode: 'Libre Barcode 128', sans-serif;
}

.tickets__Page {
    position: relative;
    /* width: 375px;
    height: 667px; */
    height: 100%;
    background: linear-gradient(180deg, rgba(244, 107, 154, 1) 0%, rgba(35, 31, 66, 1) 40%);
    /* padding: 8rem 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}