.cartpage__wrapper {
    position: absolute;
    top: 0;
    width: 375px;
    height: 667px;
    height: 100%;
    background-color: var(--color-background-blue);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.cartPage__objects {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.greenBtn {
    border-radius: 3px;
    border: none;
}