:root {
    --color-background-blue: #231F42;
    --color-light-green: #37AEAB;
    --color-creamy-pink: #f56B9A;
    --color-ticket-shadow-one: #E7D1DE;
    --color-ticket-shadow-two: #CBA0BA;
    --color-time: #D0D0D0; 
    --color-font-white: #FFFFFF;
    --font-sansita: 'SansitaOne', sans-serif;
    --font-fira-sans: 'Fira Sans', sans-serif;
    --font-barcode: 'Libre Barcode 128', sans-serif;
}

.eventpage__wrapper {
    position: relative;
    /* width: 375px;
    height: 667px; */
    height: 100%;
    background-color: var(--color-background-blue);    
    /* padding: 8rem 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.event__Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-font-white);
}

.eventPage__headline {    
    font-family: var(--font-fira-sans);
    font-weight: 300;
    font-size: 1.3rem;
    max-width: 60%;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.event__total {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 1px;
  }
  
  .event__total > * {
        padding: 20px;
    border: 1px solid darkgray;
  }
  
  .event__total > *:nth-child(1) {
    grid-column: span 3;
  }
  
  .event__total > *:nth-child(n+4) {
    grid-column: span 1; 
  }
  

  