:root {
    --color-background-blue: #231F42;
    --color-light-green: #37AEAB;
    --color-creamy-pink: #f56B9A;
    --color-ticket-shadow-one: #E7D1DE;
    --color-ticket-shadow-two: #CBA0BA; 
    --color-font-white: #FFFFFF;
    --font-sansita: 'SansitaOne', sans-serif;
    --font-fira-sans: 'Fira Sans', sans-serif;
    --font-barcode: 'Libre Barcode 128', sans-serif;
}

.nav__List {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-font-white);
    padding: 0 2rem;
}

.nav__List li {
    min-height: 4rem;    
    padding: 1rem 0;
    font-size: 2rem;
}

