:root {
    --color-background-blue: #231F42;
    --color-light-green: #37AEAB;
    --color-creamy-pink: #f56B9A;
    --color-ticket-shadow-one: #E7D1DE;
    --color-ticket-shadow-two: #CBA0BA; 
    --color-font-white: #FFFFFF;
    --font-sansita: 'SansitaOne', sans-serif;
    --font-fira-sans: 'Fira Sans', sans-serif;
    --font-barcode: 'Libre Barcode 128', sans-serif;
  }

.home {
    position: relative;
    width: 375px;
    height: 667px;
    background-color: var(--color-background-blue);    
    /* padding: 8rem 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.title {
    font-family: var(--font-sansita);
    font-size: 2rem;
    color: var(--color-creamy-pink);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin: 1rem 0;
}

.underTitle {
    font-family: var(--font-fira-sans);
    font-style: italic;
    font-weight: 400;
    font-size: 1.375rem;
    color: var(--color-font-white);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

}
